*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}


h1{
    text-align: center;
    position: relative;
    top: 20px;
}

h2{
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.container{
    /* display: flex; */
    margin: 120px 470px;
    padding: 20px 40px;
    border: 2px solid black;
    border-radius: 30px;
}

.expnscontainer input{
    background: none;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

input{
    margin: 0px 20px;
}

.details{
    padding: 20px;
}

#btn{
    justify-content: center;
    background: none;
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.1rem;
    position: relative;
    left: 140px;
    top: 10px;
}

#btn:hover{
    background-color: grey;
    color: white;
    border: 2px solid black;
}

::placeholder{
    color: white;
    opacity: 35%;
}

select{
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

select option{
    background-color: lightgray;
}


#getexpn{
    background: none;
    text-align: center;
    margin: 0px 500px;
}

.getexpense{
    /* display: flex; */
    justify-content: center;
    text-align: center;
}
div h4{
    display: inline-block;
    /* padding: 0px 10px; */
    margin: 0px 8px;
    /* justify-content: center;
    text-align: center; */
    /* border: 2px solid black; */
    /* padding: 6px; */
}

#domid{
    border: 2px solid black;
    padding: 6px;
    border-radius: 20px;
    margin: 10px 0px;
}

.getexpn domid{
    margin: 0px 20px;
    padding: 0px 10px;
}
/* 
#domid:hover{
    background-color: black;
    color: white;
} */

.premiumbtn button {
    padding: 0.5rem;
    position: absolute;
    top: 10px;
    left: 20px;
    border: 2px solid black;
    background: none;
    border-radius: 15px;
}

#premium-membership:hover{
    background-color: steelblue;
    color: white;
    font:bolder;
    cursor: pointer;
}

#deletebtn{
    padding: .2rem;
    border: 2px solid black;
    border-radius: 10px;
    background: none;
    color: black;
}

#deletebtn:hover{
    font-weight: bolder;
    background-color: red;
    color: white;
}

/* body.premium{
    background-image: url(https://images.unsplash.com/photo-1507608158173-1dcec673a2e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
} */


body.premium{
    background-image: url(https://images.unsplash.com/photo-1520624598504-ed830bd895d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

.container.premium{
    color: white;
}

#h1.premium{
    color: white;
}

#logoutbtn{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.2rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: red;
    color: white;
    /* background: none; */
}

/* #logoutbtn:hover{
    background-color: red;
    color: white;
} */


#allexpn{
    padding: 0.3rem;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 120px;
    /* background: none; */
    background-color: grey;
    color: white;
}

/* #allexpn:hover{
    background-color: grey;
    color: white;
} */