*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

h1{
    padding: 50px;
    text-align: center;
}

form{
    border: 2px solid black;
    padding: 80px 0px;
    margin: 100px 460px;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
}

input{
    height: 30px;
    background: none;
    border: 2px solid black;
    border-radius: 7px;
    color: white;
}

::placeholder{
    color: black;
}

button{
    padding: 0.3rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
    color: white;
    margin: 20px;
}

