*{
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}

body {
    background-image: url(https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

.header{
    padding: 50px 0px 10px 0px;
    
}

.head2{
    padding: 20px 0px 10px 0px;
}

h4{
    display: inline-block;
    padding: 10px;
}



#domid{
    border: 2px solid black;
    padding: 6px;
    border-radius: 20px;
    margin: 10px 0px;
}



#getexpn {
    margin: 0px 450px;
    padding: 0px 10px;
}

#back{
    padding: 0.3rem;
    position: absolute;
    top: 10px;
    left: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: none;
}

#back:hover{
    background-color: grey;
}